.myWidLong {
  margin-bottom: 2px;
  margin-right: 2px;
  width: 163px;
  text-align: center;
  font-size: xx-large;
  height: 64px;
}

.mySemiLong {
  margin-bottom: 2px;
  margin-right: 2px;
  width: 130px;
  text-align: center;
  font-size: xx-large;
  height: 64px;
}

.myWidStnd {
  width: 64px;
  height: 64px;
  margin-bottom: 2px;
  margin-right: 2px;
  text-align: center;
  font-size: xx-large;
}

.myTextbox {
  width: 792px;
  height: 396px;
  font-size: x-large;
}

.myRow {
  width: 840px;
  margin-top: 5px;
}
