/*
  Created by KW 05/03/2022
  Edited PA 06/03/2022
  */
  .myBtn {
    width: 50px;
    height: 50px;
    margin: 12px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(25, 33, 104);
    transition: transform 0.1s;
  }

/*
  Created by PA 22/03/2022
  */
  .myBtn:hover {
    transform: scale(1.9);
  }

/*
  Created by KW 05/03/2022
  Edited PA 06/03/2022
  Edited DM 09/03/2022 
  */
  .myWideBtn {
    width: 124px;
    height: 50px;
    margin: 12px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(175, 30, 45);
  }

/*
  Created by \
  */
  .myBar {
    width: 716px;
    margin: 12px;
    text-align: center;
    font-size: 1.5em;
    height: 50px;
  }

/*
  Created by KW 05/03/2022
  Edited PA 06/03/2022
.myWidLong {
  margin-bottom: 2px;
  margin-right: 2px;
  width: 163px;
  text-align: center;
  font-size: xx-large;
  height: 64px;
}

.myFavourite {
  margin-bottom: 2px;
  margin-right: 2px;
  width: 130px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: xx-large;
  height: 64px;
}
*/

/*
  Created by KW 05/03/2022
  Edited PA 06/03/2022
  */
.myTextbox {
  width: 792px;
  height: 396px;
  font-size: x-large;
}

/*
  Created by KW 05/03/2022
  Edited PA 06/03/2022
  */
.myRow {
  width: 840px;
  margin-top: 5px;
}

/*
  Created by DM 13/03/2022
*/
#demo {
  text-align: center;
  font-size: xx-large;
  width: 760px;
}

.carousel-item {
  cursor: pointer;
}
